@use '../presets' as *;
@use '../mixins' as *;

.header {
    background-color: $color-light;

    @include md-min {
        padding-top: 67px;
        padding-bottom: 141px;
      }
    
      @include md {
        padding-top: 40px;
        padding-bottom: 60px;
      }
  }